<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">Feuerwehrdatenverwaltungssystem</a>
		</div>
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav">
				<li class="active"><a href="/" class="dropdown-toggle"
					data-toggle="dropdown">Ausbildungen <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="/ausbildungNew.html">Neue Ausbildung</a></li>
						<li><a href="/ausbildungShow.html">Suche Ausbildung</a></li>
					</ul>
				</li>
				<li class="active"><a href="/" class="dropdown-toggle"
					data-toggle="dropdown">Ausr&uumlstungen <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="/ausruestungNew.html">Neue Ausr&uumlstung</a></li>
						<li><a href="/ausruestungShow.html">Suche Ausr&uumlstung</a></li>
					</ul>
				</li>
				<li class="active"><a href="/" class="dropdown-toggle"
					data-toggle="dropdown">Autos<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="/autosNew.html">Neues Auto</a></li>
						<li><a href="/autosShow.html">Suche Autos</a></li>
					</ul>
				</li>
				<li class="active"><a href="/" class="dropdown-toggle"
					data-toggle="dropdown">Feuerwehren <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="/feuerwehrNew.html">Neue Feuerwehr</a></li>
						<li><a href="/feuerwehrShow.html">Suche Feuerwehr</a></li>
					</ul>
				</li>
				<li class="active"><a href="/" class="dropdown-toggle"
					data-toggle="dropdown">Ger&aumlte <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="/geraeteNew.html">Neues Ger&aumlt</a></li>
						<li><a href="/geraeteShow.html">Suche Ger&aumt</a></li>
					</ul>
				</li>
				<li class="active"><a href="/" class="dropdown-toggle"
					data-toggle="dropdown">Mitglieder <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="/mitgliederNew.html">Neues Mitglied</a></li>
						<li><a href="/mitgliederShow.html">Suche Mitglieder</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<!--/.navbar-collapse -->
	</div>
</div>