<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">Feuerwehrdatenverwaltungssystem</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li class="active"><a href="/ausbildungen.html">Ausbildungen</a></li>
				<li class="active"><a href="/ausruestungen.html">Ausruestungen</a></li>
				<li class="active"><a href="/feuerwehren.html">Feuerwehren</a></li>
				<li class="active"><a href="/autos.html">Autos</a></li>
				<li class="active"><a href="/geraete.html">Geraete</a></li>
				<li class="active"><a href="/mitglieder.html">Mitglieder</a></li>
			</ul>
		</div>
		<!--/.navbar-collapse -->
	</div>
</div>